<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>No Filter</string>
		<key>CanUseBlur</key>
		<false/>
		<key>Passes</key>
		<array/>
	</dict>
	<dict>
		<key>Name</key>
		<string>Sobel</string>
		<key>CanUseBlur</key>
		<true/>
		<key>Passes</key>
		<array>
			<string>sobel</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Sobel Composite</string>
		<key>CanUseBlur</key>
		<true/>
		<key>Passes</key>
		<array>
			<string>sobel_composite</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Canny</string>
		<key>CanUseBlur</key>
		<true/>
		<key>Passes</key>
		<array>
			<string>CannySobelPass</string>
			<string>CannyMagnitude</string>
			<string>CannyThreshold</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Canny Composite</string>
		<key>CanUseBlur</key>
		<true/>
		<key>Passes</key>
		<array>
			<string>CannySobelPass</string>
			<string>CannyMagnitude</string>
			<string>CannyThresholdComposite</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Comic</string>
		<key>CanUseBlur</key>
		<true/>
		<key>Passes</key>
		<array>
			<string>CannySobelPass</string>
			<string>CannyMagnitude</string>
			<string>CannyComic</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Protanopia Correction</string>
		<key>CanUseBlur</key>
		<false/>
		<key>Passes</key>
		<array>
			<string>protanope</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Deuteranopia Correction</string>
		<key>CanUseBlur</key>
		<false/>
		<key>Passes</key>
		<array>
			<string>deuteranope</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Tritanopia Correction</string>
		<key>CanUseBlur</key>
		<false/>
		<key>Passes</key>
		<array>
			<string>tritanope</string>
		</array>
	</dict>
</array>
</plist>
